@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-fundo: #F9F9F9;
    --cor-texto: #333333;
    --cor-botoes: #007B83;
    --cor-hover: #005F63;
    --cor-secundaria: #E5E5E5;
    --cor-aviso: #F4A261;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 30px 0px;
    text-align: center;
}

.titulo-secundario {
    margin: 15px auto;
    text-align: center;
}

.apresentacao {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

#foto-perfil {
    max-width: 220px;
    max-height: 220px;    
    border-radius: 5cm;
}

#descricao {
    text-align: justify;
    font-size: 1.2em;
    max-width: 400px;
}

#meus-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 0;
}

.link-social {
    margin-top: 15px;
    border: 2pt solid black;
    padding: 10px;
    width: 200px;
    /* transition: font-size 0.3s, border 0.3s, padding 0.3s; */
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.link-social  img {
    /* margin-right: 10px; */
    margin-right: 30px;
    margin-left: 5px;
    height: 25px;
}

.link-social:hover {
    font-size: 1.225em;
    border: 2.5pt solid black;
    padding: 9px;
    background-color: #fcecaf;
}

@media (max-width: 615px){
    #descricao, #skills {
        width: 300px;
        margin: auto;
    }
}