@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --cor-fundo: #F9F9F9;
    --cor-texto: #333333;
    --cor-botoes: #007B83;
    --cor-hover: #005F63;
    --cor-secundaria: #E5E5E5;
    --cor-aviso: #F4A261;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 30px 0px;
    text-align: center;
}

.titulo-secundario {
    margin: 15px auto;
    text-align: center;
}

.apresentacao {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

#foto-perfil {
    max-width: 220px;
    max-height: 220px;    
    border-radius: 5cm;
}

#descricao {
    text-align: justify;
    font-size: 1.2em;
    max-width: 400px;
}

#meus-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-social {
    border: 2pt solid var(--cor-texto);
    background-color: var(--cor-botoes);
    padding: 5px;
    width: 150px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, outline 0.1s ease;
    text-align: center;
}

.link-social img {
    margin-right: 5px;
    height: 25px;
}

.link-social:hover {
    outline: 2.1pt solid #000000;
    background-color: var(--cor-hover);
    color: #FFFFFF;
}